pre[class^="language-"],
pre[class*=" language-"] {
    padding: 15px 10px 15px 10px;
    overflow: auto;
    font-size: 0.8em;
}

.blog-image {
    height: auto;
    width: 20em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



// Desktop
@media only screen and (min-width: 1024px) {
    .blog-image-wide {
        width: $desktop-width;
    }
}

// Mobile
@media only screen and (max-width: 1024px) {

    pre[class^="language-"],
    pre[class*=" language-"] {
        padding: 15px 10px 15px 10px;
        max-width: 80vw;
    }

    .blog-image-wide {
        width: $mobile-width;
    }
}
