pre[class^="language-"],
pre[class*=" language-"] {
    padding: 15px 10px 15px 10px;
    overflow: auto;
    margin-bottom: 5vh;
}

.blog-image {
    height: auto;
}


// Desktop
@media only screen and (min-width: 1024px) {

    pre[class^="language-"],
    pre[class*=" language-"] {
        max-width: $desktop-width;
    }

    .blog-image {
        width: 20vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

}

// Mobile
@media only screen and (max-width: 1024px) {

    pre[class^="language-"],
    pre[class*=" language-"] {
        max-width: $mobile-width;
    }

    .blog-image {
        width: $mobile-width;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

}