.footer {
    border-top: $background-color-dark 1px solid;

    @media (prefers-color-scheme: dark) {
        border-top: $background-color-light 1px solid;
    }

    text-align: center;
    bottom: 0;

    word-break: keep-all;

    margin-top: 1rem;
    padding: 0.51rem 0rem 0.5rem 0rem;

    font-size: 0.7em;
}

.simple-icons {
    display: flex;
    justify-content: center;
}

.simple-icon {
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
    width: 3.4em;
    height: 3.4em;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

// Mobile
@media only screen and (max-width: 1024px) {
  .simple-icon {
    width: 2em;
    height: 2em;
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
}
