.footer {
    border-top: $background-color-dark 1px solid;

    @media (prefers-color-scheme: dark) {
        border-top: $background-color-light 1px solid;
    }

    text-align: center;
    bottom: 0;

    word-break: keep-all;

    margin-top: 1rem;
    padding: 0.51rem 0rem 0.5rem 0rem;

    font-size: 0.7em;
}

.simple-icons {
    display: flex;
    justify-content: center;
}

.simple-icon {
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

// Desktop
@media only screen and (min-width: 1024px) {
    .simple-icons {
        margin-top: 4vh;
    }

    .simple-icon {
        width: 3.1vw;
        height: 3.1vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        cursor: pointer;
    }

}

// Mobile
@media only screen and (max-width: 1024px) {

    .simple-icons {
        margin-top: 2vh;
    }

    .simple-icon {
        width: 9vw;
        height: 9vw;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }
}
