.game-box {
  display: flex;
  height: 9em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-right: 1em;
}

.game-icon {
  width: 9em;
  height: 9em;
  border-radius: 1em;
  cursor: pointer;
}

// Mobile
@media only screen and (max-width: 1024px) {
  .game-box {
    display: flex;
    height: 3.8em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    margin-right: 0.5em;
  }

  .game-icon {
    width: 3.8em;
    height: 3.8em;
    border-radius: 0.5em;
    cursor: pointer;
  }
}
