$size: 13.5em;

.game-box {
    display: flex;
    width: 100%;
    height: $size;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}

.game-icon {
    float: left;
    width: $size;
    height: $size;
    margin-right: 1.5em;
    border-radius: 1.5em;
    cursor: pointer;
}

.game-box-right {
    display: flex;
    flex-direction: column;
}


.game-title {
    font-size: 2em;
    font-weight: 500;
}

.game-description {
    font-weight: 300;
    display: flex;
    align-self: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.store-icons {
    display: flex;
    flex-wrap: wrap;
}

.store-icon {
    cursor: pointer;
    height: $size / 4.5;
    margin-right: 0.5vw;
    margin-bottom: 0.5em;
}