#screenshots {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    overflow: auto;
}

.game-page-icon {
    float: right;
    width: 10em;
    height: 10em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 1em;
}

.screenshot {
    margin-right: 1em;
    width: 14em;
}

.store-icon-big {
    cursor: pointer;
    margin-right: 0.2em;
    height: 1.8em;
}
// Mobile
@media only screen and (max-width: 1024px) {
  .game-page-icon {
    width: 5em;
    height: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
  }

  .screenshot {
      margin-right: 0.7em;
      width: 10em;
  }
}
