.top-row {
    display: flex;
    align-items: center;
}

#hello {
    font-weight: 500;
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    margin-left: 0px;
}

#introduction {
    font-weight: 500;
    font-size: 2em;
}

.selfie {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-left: 5em;
    float: right;
}
