.top-row {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

#hello {
    font-size: 6em;
    font-weight: 500;
}

#introduction {
    font-size: 2em;
    font-weight: 500;
}

.selfie {
    width: 8em;
    height: 8em;
    margin-left: 5vw;
}