.link {
    text-decoration: none;
    color: #121314;
    position: relative;
}

.link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: $link-color;
}

.link:hover:after {
    top: 0%;
}

.dynamic-url {
    display: none;
}