a {
    text-decoration: none;
    position: relative;

    color: $font-color-light;

    @media (prefers-color-scheme: dark) {
        color: $font-color-dark;
    }

    border-radius: $link-border-radius;
}

a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);

    background-color: $link-color-light;

    @media (prefers-color-scheme: dark) {
        background-color: $link-color-dark;
    }

    border-radius: $link-border-radius;
}

a:hover:after {
    top: 0%;
    border-radius: $link-border-radius;

}