$normal: -0.15em;
$hover: -1.2em;

a {
    text-decoration: none;

    color: $font-color-light;

    box-shadow: 0px $normal 0px $link-color-light inset;
    transition: box-shadow 200ms cubic-bezier(0, 0.8, 0.13, 1);

    @media (prefers-color-scheme: dark) {
        color: $font-color-dark;
        box-shadow: 0px $normal 0px $link-color-dark inset;
    }
}


a:hover {
    box-shadow: 0px $hover 0px $link-color-light inset;

    @media (prefers-color-scheme: dark) {
        box-shadow: 0px $hover 0px $link-color-dark inset;
    }
}

.no-underline {
    box-shadow: none;
}

.no-underline:hover {
    box-shadow: none;
}