#navbar {
    display: flex;

    z-index: 3;

    width: $scale;
    
    overflow: hidden;
    position: fixed;

    top: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    border-bottom: $background-color-dark 1px solid;
    background-color: $background-color-light;

    @media (prefers-color-scheme: dark) {
        background-color: $background-color-dark;
        border-bottom: $background-color-light 1px solid;
    }

}

#nav-separator {
    flex: 1;
}


.nav-right {
    margin-left: 0.5rem;
}