.progress {
    margin-top: 1em;
    border: 0.25em solid $link-color-light;

    @media (prefers-color-scheme: dark) {
        border: 0.25em solid $link-color-dark;
    }

    height: 2em;
    line-height: 2em;
}

.progress .progress_bar {
    height: 100%;
    width: var(--percentage);
    background-color: $link-color-light;

    @media (prefers-color-scheme: dark) {
        background-color: $link-color-dark;
    }

    text-align: justify-center;
}


.progress .progress_text {
    position: absolute;
    overflow: visible;
    text-align: center;
    width: $scale;
}

