// Desktop
@media only screen and (min-width: 932px) {
    .progress {
        margin-top: 1vw;
        width: 25vw;
        padding: 2px;
        border: 3px solid $link-color-light;

        @media (prefers-color-scheme: dark) {
            border: 3px solid $link-color-dark;
        }

        height: 2.1vw;
    }

    .progress .progress_text {
        position: absolute;
        overflow: visible;
        text-align: center;
        width: 25vw;
        line-height: 2.1vw;
    }

    .progress .progress_bar {
        height: 100%;
        width: var(--percentage);
        background-color: $link-color-light;

        @media (prefers-color-scheme: dark) {
            background-color: $link-color-dark;
        }

        text-align: justify-center;
    }
}

// Mobile
@media only screen and (max-width: 932px) {

    .progress {
        margin-top: 3vw;
        width: 83.5vw;
        border: 0.75vw solid $link-color-light;

        @media (prefers-color-scheme: dark) {
            border: 3px solid $link-color-dark;
        }

        height: 6vw;
    }

    .progress .progress_text {
        position: absolute;
        overflow: visible;
        text-align: center;
        width: 85vw;
        line-height: 6vw;
    }

    .progress .progress_bar {
        height: 100%;
        width: var(--percentage);
        background-color: $link-color-light;

        @media (prefers-color-scheme: dark) {
            background-color: $link-color-dark;
        }

        text-align: justify-center;
    }
}