.game {
    display: inline-table;
    width: 24vw;
    margin-top: 2vw;
}

.icon-games {
    float: left;
    padding-right: 1.5vw;
    padding-left: 0.5vw;
    width: 7vw;
    height: 7vw;
}

@media only screen and (min-width: 768px) {

    .top-row {
        display: flex;
    }

    .selfie {
        width: 8vw;
        height: 8vw;
        margin-left: 5vw;
        margin-top: 3vw;
    }

}