.game {
    display: inline-block;
    margin-top: 2vw;
}

.icon-games {
    float: left;
    padding-right: 3vw;
    width: 22vw;
    height: 22vw;
}

.title-games {
    font-weight: 500;
    font-size: 5vw;
}


.top-row {
    display: flex;
}

.selfie {
    width: 20vw;
    height: 20vw;
    margin-left: 8vw;
    margin-top: 10vw;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    width: 8vw;
    height: 8vw;
    margin-right: 2.2vw;
}


/* desktop */

@media only screen and (min-width: 768px) {


    .top-row {
        display: flex;
    }

    .selfie {
        width: 8vw;
        height: 8vw;
        margin-left: 5vw;
        margin-top: 2vw;
    }

    .icon {
        width: 3vw;
        height: 3vw;
        margin-right: 0.5vw;
    }

    .game {
        display: inline-table;
        width: 24vw;
        margin-top: 2vw;
    }

    .icon-games {
        float: left;
        padding-right: 1.5vw;
        padding-left: 0.5vw;
        width: 7vw;
        height: 7vw;
    }

    .title-games {
        font-weight: 500;
        font-size: 1.5vw;
    }



}