<div class="simple-icons">
    <img class="simple-icon" src="{{ get_url(path='img/icons/github.svg') | safe }}" alt="github button"
        onclick="window.open( '{{ config.extra.links.github }}', '_blank')" role="button"
        onauxclick="window.open( '{{ config.extra.links.github }}', '_blank')" tabIndex="0" title="Github">
    <img class="simple-icon" src="{{ get_url(path='img/icons/codeberg.svg') | safe }}" alt="codeberg button"
        onclick="window.open( '{{ config.extra.links.codeberg }}', '_blank') " role="button"
        onauxclick="window.open( '{{ config.extra.links.codeberg }}', '_blank')" tabIndex="0" title="Codeberg">
    <!-- <img class="simple-icon" src="{{ get_url(path='img/icons/itchdotio.svg') | safe }}" alt="itchio button"
        onclick="window.open( '{{ config.extra.links.itchio }}', '_blank')" role="button"
        onauxclick="window.open( '{{ config.extra.links.github }}', '_blank')" tabIndex="0" title="itch.io"> -->
    <!-- <img class="simple-icon" src="{{ get_url(path='img/icons/reddit.svg') | safe }}" alt="reddit button"
        onclick="window.open( '{{ config.extra.links.reddit }}', '_blank') " role="button"
        onauxclick="window.open( '{{ config.extra.links.reddit }}', '_blank')" tabIndex="0" title="Reddit"> -->
    <!-- <img class="simple-icon" src="{{ get_url(path='img/icons/linkedin.svg') | safe }}" alt="linkedin button"
        onclick="window.open( '{{ config.extra.links.linkedin }}', '_blank') " role="button"
        onauxclick="window.open( '{{ config.extra.links.linkedin }}', '_blank')" tabIndex="0" title="LinkedIn"> -->
    <img rel="me" class="simple-icon" src="{{ get_url(path='img/icons/mastodon.svg') | safe }}" alt="mastodon button"
        onclick="window.open( '{{ config.extra.links.mastodon }}', '_blank') " role="button"
        onauxclick="window.open( '{{ config.extra.links.mastodon }}', '_blank')" tabIndex="0" title="Mastodon">
    <a rel="me" id="mastodon-verification" href="https://mastodon.social/@dulvui"></a>
    <img class="simple-icon" src="{{ get_url(path='img/icons/rss.svg') | safe }}" alt="rss button"
        onclick="window.open('{{ get_url(path=`rss.xml`, trailing_slash=false) }}', '_blank')" role="button"
        onauxclick="window.open('{{ get_url(path=`rss.xml`, trailing_slash=false) }}', '_blank')" tabIndex="0" title="rss">
    <img class="simple-icon" src="{{ get_url(path='img/icons/mail.svg') | safe }}" alt="email button"
        onclick="window.open('mailto:{{config.extra.email}}', '_self')" role="button"
        onauxclick="window.open('mailto:{{config.extra.email}}', '_self')" tabIndex="0" title="e-mail">
</div>


<footer class="footer">
    <a href="/privacy-policy">Privacy Policy</a>
    | &copy 2022 Simon Dalvai |
    <a a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>
</footer>