<head>
  <meta charset="utf-8">
  <title>
    {% block title %}
    {% if page.title %}
    {{ page.title }} - {{ config.title }}
    {% elif section.title and section.title != config.title %}
    {{ section.title }} - {{ config.title }}
    {% else %}
    {{ config.title }}
    {%- endif %}
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}">
  <link rel="icon" type="image/x-icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) | safe }}">
</head>