pre[class^="language-"],
pre[class*=" language-"] {
    padding: 15px 0px 15px 0px;
    max-width: 50vw;
    overflow: auto;
}


.appstore {
    background: url(img/AppStore.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 9vw;
    width: 9vw;
    height: 3vw;
    margin-right: 1vw;
}

.playstore {
    background: url(img/PlayStore.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 10vw;
    width: 10vw;
    height: 3vw;
}

#screenshots {
    margin-top: 3vh;
    display: flex;
}

.screenshot {
    margin-right: 0.6vw;
    width: 10vw;
}