// applies to all code language classes, like language-html  
pre[class^="language-"],
pre[class*=" language-"] {
    padding: 15px 0px 15px 0px;
    max-width: 80vw;
    overflow: auto;
}

.appstore {
    background: url(img/AppStore.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 34.5vw;
    width: 34.5vw;
    height: 15vw;
    margin-right: 1vw;
}

.playstore {
    background: url(img/PlayStore.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 38vw;
    width: 38vw;
    height: 15vw;
}

#screenshots {
    margin-top: 3vh;
    display: flex;
}

.screenshot {
    margin-right: 0.6vw;
    width: 18vw;
}
