body {
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

#content {
    flex: 1;
    margin-bottom: 2vh;
    padding: 1vh 10vw 0vh 10vw;
}

h1 {
    font-size: 3.2vw;
    font-weight: 500;
    margin-bottom: 0;
}

h2 {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 0;
}

p {
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 1.4;
    max-width: 50vw;
    margin-top: 1vw;
}

#navbar {
    margin: 0vh 9.5vw 0vh 9.5vw;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    z-index: 3;
    background-color: $background-color;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 80vw;
    padding-bottom: 0.5vw;
    border-bottom: #121314 1px solid;
}

.nav {
    font-size: 1.5vw;
    font-weight: 300;
}

.dynamic-url {
    display: initial;
}

.game {
    display: inline-table;
    width: 24vw;
    margin-top: 2vw;
}

.icon-games {
    float: left;
    padding-right: 1.5vw;
    padding-left: 0.5vw;
    width: 7vw;
    height: 7vw;
}

.simple-icons {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.simple-icon {
    width: 3vw;
    height: 3vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    cursor: pointer;
}

.footer {
    font-weight: 300;
    font-size: 1vw;
    margin: 2vh 9.5vw 0vh 9.5vw;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    border-top: #121314 1px solid;
    width: 80vw;
    bottom: 0px;
    text-align: center;
}