.game-box {
    display: inline-table;
    width: 24vw;
    margin-top: 2vw;
}

.game-icon {
    float: left;
    padding-right: 1.5vw;
    padding-left: 0.5vw;
    width: 7vw;
    height: 7vw;
    cursor: pointer;
}

.game-title {
    font-weight: 500;
    font-size: 1.5vw;
}

.game-description{
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 300;
}


.appstore {
    cursor: pointer;
    width: 5.5vw;
}

.playstore {
    cursor: pointer;
    width: 6.2vw;
    margin-right: 0.5vw;
}
