.game-box {
    display: inline-table;
    width: 24vw;
    height: 8vw;
    margin-top: 1vw;
    padding-right: 0.5vw;
}

.game-box-right{
    display: flex;
    flex-direction: column;
}

.game-icon {
    float: left;
    padding-right: 1.5vw;
    width: 8.7vw;
    height: 8.7vw;
    cursor: pointer;
}

.game-title {
    font-weight: 500;
    font-size: 1.5vw;
}

.game-description{
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 300;
    flex: 1;
}

.store-icon {
    cursor: pointer;
    height: 1.7vw;
    margin-right: 0.5vw;
    margin-bottom: 0.2vw;
}
