.game-box {
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 80vw;
    margin-top: 3vw;
}

.game-icon {
    float: left;
    padding-right: 1.5vw;
    padding-left: 0.5vw;
    margin-right: 3vw;
    width: 22vw;
    height: 22vw;
}


.game-title {
    font-weight: 500;
    font-size: 5vw;
}

.game-description{
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 300;
    font-size: 4vw;
}

.appstore {
    cursor: pointer;
    width: 22.2vw;
}

.playstore {
    cursor: pointer;
    width: 24.5vw;
    margin-right: 2vw;
}