.game-box {
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 85vw;
    height: 28vw;
    margin-top: 3vw;
}

.game-box-right{
    display: flex;
    flex-direction: column;
}

.game-box-right-separator{
    flex: 1;
}

.game-icon {
    float: left;
    padding-right: 1.5vw;
    margin-right: 3vw;
    width: 30vw;
    height: 30vw;
}


.game-title {
    display: flex;
    font-weight: 500;
    font-size: 5vw;
}

.game-description{
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 300;
    font-size: 4vw;
    display: flex;
}

.store-icons{
    display: flex;
    margin-bottom: 1.5vw;
}

.store-icon {
    cursor: pointer;
    height: 7vw;
    margin-right: 2vw;
}