{% extends "base.html" %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

<p>{{ page.date | date(format="%d. %B %Y") }}</p>

{{ page.content | safe }}

<!-- Comments -->

<h2>Comments</h2>
<p>
  Feel free to
  write me an email at <a href="mailto:{{ config.extra.email | safe }}?subject={{ page.title }}">{{
    config.extra.email | safe }}</a>

  {% if page.extra.mastodon_link %}
  and comment on <a href="{{ page.extra.mastodon_link | safe }}">Mastodon</a>
  {% endif %}
  {% if page.extra.hackernews_link %}
  or <a href="{{ page.extra.hackernews_link | safe }}">HackerNews</a>.
  {% endif %}
</p>

{% endblock content %}