{% extends "base.html" %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

{{ page.content | safe }}

{% if page.extra.repo %}
<p>
  This game is Open Source on <a  href="{{ page.extra.repo | safe}}" target="_blank">Github</a>!
</p>
{% endif %}


<div>
  {% if page.extra.appstore_link %}

  <button class="appstore" alt="Download on the App Store" onclick="window.open( '{{ page.extra.appstore_link }}', '_blank') ">
  </button>

  {% endif %}
  {% if page.extra.playstore_link %}

  <button class="playstore" alt="Get it on Google Play" onclick="window.open( '{{ page.extra.playstore_link }}', '_blank') ">
  </button>
  {% endif %}

</div>

<div id="screenshots">
  {% for asset in page.assets -%}
  {%- if asset is matching("[.](jpg|png)$") -%}
  <img class="screenshot" alt="Screenshot of the game" src="{{ get_url(path=asset) }}" />
  {%- endif %}
  {%- endfor %}
</div>
<br>
<div>
  <p>You can find the game's privacy policy <a  href="privacy-policy">here.</a></p>

</div>
{% endblock content %}