{% extends "base.html" %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

{{ page.content | safe }}

{% if page.extra.repo %}
<p>
  This game is Open Source on <a  href="{{ page.extra.repo | safe}}" target="_blank">Github</a>!
</p>
{% endif %}


<div>
  {% if page.extra.playstore_link %}

  <img class="playstore-big" src="{{ get_url(path='img/PlayStore.svg') }}" alt="Get it on Google Play"
      onClick="window.open('{{ page.extra.playstore_link }}', '_blank')" role="button" tabIndex="0">
  {% endif %}
  {% if page.extra.appstore_link %}
  <img class="appstore-big" src="{{ get_url(path='img/AppStore.svg') }}" alt="Download on the App Store"
      onClick="window.open('{{ page.extra.appstore_link }}', '_blank')" role="button" tabIndex="0">

  {% endif %}

</div>

<div id="screenshots">
  {% for asset in page.assets -%}
  {%- if asset is matching("[.](jpg|png|webp)$") -%}
  <img class="screenshot" alt="Screenshot of the game" src="{{ get_url(path=asset) }}" />
  {%- endif %}
  {%- endfor %}
</div>
<br>
<div>
  <p>You can find the game's privacy policy <a  href="privacy-policy">here.</a></p>

</div>
{% endblock content %}