{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
{% set games = get_section(path="games/_index.md") %}
{% for page in games.pages %}
<!-- filter out pages that are not projects, like 'About' -->
{% if page.title != 'About' %}
<div class="game">
  <a href="{{ page.permalink | safe }}">
    <img class="icon-games" src="{{ page.extra.icon | safe }}" alt="{{ page.title }}icon">
  </a>
  <a class="link fontgames" href="{{ page.permalink | safe }}">
    {{ page.title }}</a>
  {{ page.description | safe }}
</div>
{% endif %}
{% endfor %}
{% endblock content %}