{% extends "base.html" %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

<img class="game-page-icon" src="{{ get_url(path=page.extra.icon) }}" alt="{{ page.title }} icon">

{{ page.content | safe }}

<div>
  {% if page.extra.playstore_link %}
  <a class="no-underline" href="{{  page.extra.playstore_link}}" target="_blank">
    <img class="store-icon-big" src="{{ get_url(path='img/store-icons/PlayStore.webp') }}"
      alt="Get {{ page.title }} on Google Play" title="Get {{ page.title }} on Google Play">
  </a>
  {% endif %}
  {% if page.extra.appstore_link %}
  <a class="no-underline" href="{{  page.extra.appstore_link}}" target="_blank">
    <img class="store-icon-big" src="{{ get_url(path='img/store-icons/AppStore.webp') }}"
      alt="Download {{ page.title }} on the App Store" title="Download {{ page.title }} on the App Store">
  </a>
  {% endif %}

  {% if page.extra.fdroid_link %}
  <a class="no-underline" href="{{ page.extra.fdroid_link }}" target="_blank">
    <img class="store-icon-big" src="{{ get_url(path='img/store-icons/FDroid.webp') }}"
      alt="Get {{ page.title }} on F-Droid" title="Get {{ page.title }} on F-Droid">
  </a>
  {% endif %}
  {% if page.extra.flathub_link %}
  <a class="no-underline" href="{{ page.extra.flathub_link }}" target="_blank">
    <img class="store-icon-big" src="{{ get_url(path='img/store-icons/flathub.webp') }}"
      alt="Get {{ page.title }} on Flathub" title="Get {{ page.title }} on Flathub">
  </a>
  {% endif %}
  {% if page.extra.github_link %}
  <a class="no-underline" href="{{  page.extra.github_link}}" target="_blank">
    <img class="store-icon-big" src="{{ get_url(path='img/store-icons/Github.webp') }}"
      alt="Get {{ page.title }} on Github" title="Get {{ page.title }} on Github">
  </a>
  {% endif %}
  {% if page.extra.itchio_link %}
  <a class="no-underline" href="{{  page.extra.itchio_link}}" target="_blank">
    <img class="store-icon-big itchio" src="{{ get_url(path='img/store-icons/itchio3.webp') }}" alt="Available on itch.io"
      title="Play {{ page.title }} on itch.io">
  </a>
  {% endif %}
</div>

<div id="screenshots">
  {% for asset in page.assets -%}
  {%- if asset is matching("[.](jpg|png|webp)$") -%}
  <img class="screenshot" alt="Screenshot of the game" src="{{ get_url(path=asset) }}" />
  {%- endif %}
  {%- endfor %}
</div>

{% if page.extra.repo_github %}
<h2>Source code</h2>
<p>
  This is a Free and Open Source game with the source code available on <a href="{{ page.extra.repo_github | safe}}"
    target="_blank">Github</a>
  {% if page.extra.repo_codeberg %}
  and <a href="{{ page.extra.repo_codeberg | safe}}" target="_blank">Codeberg</a>.
  {% else %}.
  {% endif %}
</p>
{% endif %}

<h2>Privacy</h2>
<div>
  <p>This game respects you privacy and doesn't use any form of user tracking. Find the full game's privacy policy <a
      href="{{current_path}}privacy-policy">here.</a></p>

</div>
{% endblock content %}