{% extends "base.html" %}

{% block content %}

<div class="top-row">
  <div id="hello">Hello.</div> <img class="selfie" src="{{ config.extra.icon | safe }}" alt="An image of myself">
</div>
<div id="introduction">{{ section.extra.introduction | safe }}</div>

{{ section.content | safe }}


<h1><a href="/games">Games</a></h1>

{% set games = get_section(path="games/_index.md") %}
{% for page in games.pages | filter(attribute="extra.released", value=true) | slice(end=2) %}
{% include 'partials/game-box.html' %}
{% endfor %}

<h1><a href="/blog">Blog</a></h1>

<p>I also write a blog about <strong>software</strong> and <strong>game development</strong>.</p>

{% set blog = get_section(path="blog/_index.md") %}
{% for page in blog.pages | slice(end=2) %}
<p><a href="{{ page.permalink | safe }}">{{ page.title }}</a></p>
{% endfor %}

{% endblock content %}