pre[class^="language-"],
pre[class*=" language-"] {
    padding: 15px 10px 15px 10px;
    max-width: 50vw;
    overflow: auto;
    font-size: 1.2vw;
    margin-bottom: 5vh;
}

.blog-image {
    width: 20vw;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}