.top-row {
    display: flex;
    align-items: flex-end;
    margin-top: 2vw;
}

#hello {
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 0px;
}

#introduction {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}


.selfie {
    width: 8vw;
    height: 8vw;
    margin-left: 5vw;
    margin-top: 1.5vw;
}