#screenshots {
    margin-top: 3vh;
    display: flex;
}

.screenshot {
    margin-right: 1vw;
    width: 14vw;
}

.appstore-big {
    cursor: pointer;
    width: 10vw;
}

.playstore-big {
    cursor: pointer;
    margin-right: 1vw;
    width: 11.2vw;
}