#screenshots {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    overflow: auto;
}

.screenshot {
    margin-right: 3vw;
    width: 70vw;
}

.store-icon-big {
    cursor: pointer;
    margin-right: 2vw;
    height: 12vw;
}