.top-row {
    display: flex;
    align-items: flex-end;
}


#hello {
    font-size: 16vw;
    font-weight: 500;
    margin-bottom: 0;
}

#introduction {
    font-size: 9vw;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 15px;
}

.selfie {
    width: 20vw;
    height: 20vw;
    margin-left: 8vw;
    margin-top: 10vw;
}