.game {
    display: inline-block;
    margin-top: 2vw;
}

.icon-games {
    float: left;
    padding-right: 3vw;
    width: 22vw;
    height: 22vw;
}

.title-games {
    font-weight: 500;
    font-size: 5vw;
}


.top-row {
    display: flex;
    font-size: 16vw;
    font-weight: 500;
    margin-bottom: 0;
    align-items: flex-end;
}

.selfie {
    width: 20vw;
    height: 20vw;
    margin-left: 8vw;
    margin-top: 10vw;
}

.index-appstore {
    background: url(img/AppStore.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 34.5vw;
    width: 34.5vw;
    height: 15vw;
    margin-right: 1vw;
}

.index-playstore {
    background: url(img/PlayStore.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 38vw;
    width: 38vw;
    height: 15vw;
}